<div class="toolbar">
  <div class="p-4 border-b border-gray-300 flex gap-4 items-center">
    <button class="btn-icon btn-icon-sm" (click)="navigateToProjects()" matTooltip="Volver al proyecto">
      <mat-icon class="text-gray-600">arrow_back</mat-icon>
    </button>

    <h1 class="text-xl font-bold cursor-pointer hover:text-indigo-600" (click)="openEditNameDialog()" matTooltip="Edit name">
      {{ studyName }}
    </h1>

    <div class="stepper mx-auto flex items-center">
      <a [routerLink]="['/study', studyId, 'creation']" routerLinkActive="bg-blue-50! text-blue-600!" mat-button>Build</a>
      <mat-icon class="opacity-25">chevron_right</mat-icon>
      <a [routerLink]="['/study', studyId, 'share']" routerLinkActive="bg-blue-50! text-blue-600!" mat-button><mat-icon>share</mat-icon> Share</a>
      <mat-icon class="opacity-25">chevron_right</mat-icon>
      <a [routerLink]="['/study', studyId, 'results']" routerLinkActive="bg-blue-50! text-blue-600!" mat-button>Results</a>
      <mat-icon class="opacity-25">chevron_right</mat-icon>
      <a [routerLink]="['/study', studyId, 'analytics']" routerLinkActive="bg-blue-50! text-blue-600!" mat-button>Analytics</a>
    </div>

    <button class="btn-icon btn-icon-sm" color="primary" (click)="triggerSaveStudy()" [disabled]="saving" matTooltip="Último guardado: {{ lastSaved | date:'medium' }}">
      <mat-icon *ngIf="!saving">save</mat-icon>
      <mat-spinner *ngIf="saving" diameter="20"></mat-spinner>
    </button>

    <a mat-stroked-button [routerLink]="['/study', studyId, 'preview']">Preview</a>
    <button mat-flat-button color="primary" (click)="publishStudy()">Comenzar prueba</button>
  </div>
</div>
