<div class="header border-b border-gray-200 flex items-center gap-3 px-8 py-4">
  <div class="icon rounded-lg bg-indigo-300 text-white flex justify-center items-center h-10 w-10">
    <mat-icon>help</mat-icon>
  </div>
  <h2 class="text-xl font-bold">Open Question</h2>
  <mat-icon matTooltip="Ask exploratory questions, enable AI Follow-Ups for in-depth feedback and make sense of it all by using AI to perform sentiment and theme analysis." class="opacity-50">info</mat-icon>
  <button mat-icon-button class="ml-auto" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button>
</div>

<div class="form p-8 flex flex-col gap-6">
  <div class="input-container">
    <label class="label">Question *</label>
    <input
      required
      type="text"
      class="input"
      placeholder="Type your question here"
      [ngModel]="formData.title"
      (ngModelChange)="onTitleChange($event)">
      <div class="input-error">A question is required to create this block.</div>
  </div>

  <div class="input-container">
    <label class="label">Description</label>
    <textarea
      type="text"
      class="textarea"
      placeholder="Type extra details here. This is optional"
      [ngModel]="formData.description"
      (ngModelChange)="onSubtitleChange($event)"></textarea>
  </div>

  <div class="flex gap-4">
    <div class="input-container w-1/2">
      <label class="label">Minimum Length</label>
      <input
        type="number"
        class="input"
        [ngModel]="formData.minLength"
        (ngModelChange)="onMinLengthChange($event)">
    </div>

    <div class="input-container w-1/2">
      <label class="label">Maximum Length</label>
      <input
        type="number"
        class="input"
        [ngModel]="formData.maxLength"
        (ngModelChange)="onMaxLengthChange($event)">
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Add comment</button>
</mat-menu>

