<div class="study-creation-page h-full overflow-hidden">

  <div class="row flex h-full">
    <!-- Sidebar de Clips -->
    <div class="clips-sidebar flex flex-col gap-3 w-sm min-w-sm h-full overflow-y-auto p-5">
      <div class="box bg-gray-100 flex items-center py-3 px-4 rounded-xl font-medium sticky top-0">
        Pages
      </div>

      <!-- Welcome Screen -->
      <app-clip-element
        (click)="selectWelcomeSection()"
        [type]="'welcome-screen'"
        [title]="'A-mazeing to meet you!'"
        [isActive]="selectedSection?.type === 'welcome-screen'">
      </app-clip-element>

      <!-- Secciones dinámicas -->
      @for (section of sections; track section.id) {
        <app-clip-element
          (click)="selectSection(section)"
          [isActive]="selectedSection?.id === section.id"
          [type]="section.type"
          [title]="section.title"
          (delete)="removeSection(section.id)">
        </app-clip-element>
      }

      <!-- Botón para agregar páginas -->
      <button mat-stroked-button color="primary" (click)="showClipMenu = !showClipMenu" class="w-full mb-3">
        <mat-icon>add</mat-icon> Add page
      </button>

      <!-- Menú de tipos de páginas -->
      @if (showClipMenu) {
        <div class="menu bg-white border rounded-xl p-2 mb-3">
          <button (click)="addSection('open-question')" class="w-full text-left px-3 py-2 hover:bg-gray-100 rounded">Agregar Open Question</button>
          <button (click)="addSection('prototype-test')" class="w-full text-left px-3 py-2 hover:bg-gray-100 rounded">Agregar Prototype Test</button>
          <button (click)="addSection('yes-no')" class="w-full text-left px-3 py-2 hover:bg-gray-100 rounded">Agregar Yes/No</button>
          <button (click)="addSection('multiple-choice')" class="w-full text-left px-3 py-2 hover:bg-gray-100 rounded">Agregar Multiple Choice</button>
        </div>
      }

      <!-- Welcome Screen -->
      <app-clip-element
        (click)="selectThankSection()"
        [title]="'Thank You!'"
        [type]="'thank-you'"
        class="mt-auto"
        [isActive]="selectedSection?.type === 'thank-you'">
      </app-clip-element>
    </div>

    <!-- Panel de Formularios -->
    <div class="forms w-1/2 border-r border-l border-gray-200 h-full overflow-y-auto hidden-scroll">
      <!-- Formulario fijo de bienvenida -->
      @if (selectedSection?.type === 'welcome-screen') {
        <app-welcome-screen-form
          (sectionChange)="welcomeSection = $event"
          [section]="welcomeSection">
        </app-welcome-screen-form>
      }

      <!-- Formularios dinámicos -->
      @for (section of sections; track section.id) {
        <!-- Se muestra el formulario solo si es la sección activa -->
        @if (section.type === 'open-question' && selectedSection?.id === section.id) {
          <app-open-question-form
            [section]="section">
          </app-open-question-form>
        }

        @if (section.type === 'prototype-test' && selectedSection?.id === section.id) {
          <app-prototype-test-form
            [section]="section">
          </app-prototype-test-form>
        }

        @if (section.type === 'yes-no' && selectedSection?.id === section.id) {
          <app-yes-no-form
            [section]="section">
          </app-yes-no-form>
        }

        @if (section.type === 'multiple-choice' && selectedSection?.id === section.id) {
          <app-multiple-choice-form
            [section]="section">
          </app-multiple-choice-form>
        }
      }

      <!-- Formulario fijo de agradecimiento -->
      @if (selectedSection?.type === 'thank-you') {
        <app-thank-you-form
          [section]="thankYouSection">
        </app-thank-you-form>
      }
    </div>

    <!-- Panel de Previsualización -->
    <div class="previews w-1/2 bg-gray-100 flex justify-center items-center p-10 h-full overflow-y-auto" [ngClass]="{'p-0!': isPrototypePreview}">
      <div class="container w-sm shadow-md bg-white rounded-xl p-8 h-full" [ngClass]="{'bg-transparent! shadow-none! w-full! p-0!': isPrototypePreview}">

        <!-- Previsualización fijo de bienvenida -->
        @if (selectedSection?.type === 'welcome-screen') {
          <app-welcome-screen-preview
            [section]="welcomeSection">
          </app-welcome-screen-preview>
        }

        <!-- Previsualizaciones dinámicas -->
        @for (section of sections; track section.id) {
          @if (section.type === 'open-question' && selectedSection?.id === section.id) {
            <app-open-question-preview
              [section]="section">
            </app-open-question-preview>
          }

          @if (section.type === 'yes-no' && selectedSection?.id === section.id) {
            <app-yes-no-preview
              [section]="section">
            </app-yes-no-preview>
          }

          @if (section.type === 'multiple-choice' && selectedSection?.id === section.id) {
            <app-multiple-choice-preview
              [section]="section">
            </app-multiple-choice-preview>
          }

          @if (section.type === 'prototype-test' && selectedSection?.id === section.id) {
            <app-prototype-iframe-preview
              [embedUrl]="section.data.embedUrl">
            </app-prototype-iframe-preview>
          }
        }

        <!-- Previsualización fijo de agradecimiento -->
        @if (selectedSection?.type === 'thank-you') {
          <app-thank-you-preview
            [section]="thankYouSection">
          </app-thank-you-preview>
        }
      </div>
    </div>
  </div>
</div>
