<div class="prototype-test-preview h-full">
  <!-- Iframe y spinner de carga -->
  <div class="relative h-full" *ngIf="showPreview">
    <!-- Iframe con el prototipo -->
    <iframe
        style="border: 1px solid rgba(0, 0, 0, 0.1)"
        width="100%"
        height="100%"
        #iframePrototype
        [src]="previewData.prototypeUrl"
        allowfullscreen
    ></iframe>
  </div>

  <!-- Estado vacío -->
  <div *ngIf="!showPreview" class="empty-screen text-center flex flex-col items-center justify-center h-full w-sm mx-auto">
    <div class="grid grid-cols-2 gap-1 w-16">
      <div class="col-span-1">
        <img src="https://app.maze.co/_next/static/media/figma-logo-icon.f470507a.png" alt="">
      </div>
      <div class="col-span-1">
        <img src="https://app.maze.co/_next/static/media/adobe-logo-icon.60a30e2e.png" alt="">
      </div>
      <div class="col-span-1">
        <img src="https://app.maze.co/_next/static/media/marvel-logo-icon.17afcd87.png" alt="">
      </div>
      <div class="col-span-1">
        <img src="https://app.maze.co/_next/static/media/sketch-logo-icon.e2e65df2.png" alt="">
      </div>
    </div>

    <h3 class="text-lg text-gray-800 mt-4 mb-2"><b>No prototype added</b></h3>
    <p class="text-gray-600 text-sm">Add your prototype link to create missions for your users to test across this study</p>
  </div>
</div>
