<div class="main-toolbar border-b border-gray-300 h-16 flex items-center justify-end px-10 py-2">
    <div class="image-container overflow-hidden rounded-full w-10 h-10 w-min-10 h-min-10 bg-gray-200 border border-gray-300">
        <img class="image-cover" src="https://imgs.search.brave.com/DowMKJ3Yz93ulPZfTzXd2gvYDqcLsZisoVsBpko4feU/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYXZh/dGFyLWZhY2UtY2xv/c2V1cC1wbmctbnl5/LWN2amZ1NW1nbHBo/eW8yeGUucG5n" alt="">
    </div>
</div>
