<div class="header border-b border-gray-200 flex items-center gap-3 px-8 py-4">
  <app-icon-section [type]="'yes-no'"></app-icon-section>
  <h2 class="text-xl font-bold">Yes/No</h2>
  <mat-icon matTooltip="Use Yes/No to ask testers a closed-ended question. With this question type, you can measure preference between two choices. Testers will select one answer choice." class="opacity-50">info</mat-icon>
  <button mat-icon-button class="ml-auto" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button>
</div>

<div class="form p-8 flex flex-col gap-6">
  <!-- Title -->
  <div class="input-container">
    <label class="label">Question *</label>
    <input
      required
      type="text"
      class="input"
      placeholder="Enter your question"
      [(ngModel)]="formData.title"
      (ngModelChange)="onTitleChange($event)">
      <div class="input-error">A question is required to create this block.</div>
  </div>

  <!-- Description -->
  <div class="input-container">
    <label class="label">Description (optional)</label>
    <textarea type="text" class="textarea" [(ngModel)]="formData.description" (ngModelChange)="onSubtitleChange($event)" placeholder="Add a description"></textarea>
  </div>

  <!-- Yes/No Labels -->
  <div class="flex gap-4">
    <div class="input-container w-1/2">
      <label class="label">Yes Label</label>
      <input type="text" class="input" [(ngModel)]="formData.yesLabel" (ngModelChange)="onLabelChange('yes', $event)" placeholder="Yes">
    </div>

    <div class="input-container w-1/2">
      <label class="label">No Label</label>
      <input type="text" class="input" [(ngModel)]="formData.noLabel" (ngModelChange)="onLabelChange('no', $event)" placeholder="No">
    </div>
  </div>

  <!-- Yes/No Descriptions -->
  <div class="flex gap-4">
    <div class="input-container w-1/2">
      <label class="label">Yes Description (optional)</label>
      <input type="text" class="input" [(ngModel)]="formData.yesDescription" (ngModelChange)="onDescriptionChange('yes', $event)" placeholder="Add description for Yes option">
    </div>

    <div class="input-container w-1/2">
      <label class="label">No Description (optional)</label>
      <input type="text" class="input" [(ngModel)]="formData.noDescription" (ngModelChange)="onDescriptionChange('no', $event)" placeholder="Add description for No option">
    </div>
  </div>

  <!-- Button Style Selection -->
  <div class="mt-4">
    <label class="label">Button Style</label>
    <div class="btn-toggle-container">
      <button class="btn-toggle" [ngClass]="{'active': formData.buttonStyle === 'default'}" (click)="onButtonStyleChange('default')">
        <mat-icon>check_circle</mat-icon>
        Default
      </button>

      <button class="btn-toggle" [ngClass]="{'active': formData.buttonStyle === 'emoji'}" (click)="onButtonStyleChange('emoji')">
        <mat-icon>emoji_emotions</mat-icon>
        Emoji
      </button>

      <button class="btn-toggle" [ngClass]="{'active': formData.buttonStyle === 'thumbs'}" (click)="onButtonStyleChange('thumbs')">
        <mat-icon>thumb_up</mat-icon>
        Thumbs
      </button>
    </div>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Add comment</button>
</mat-menu>
