<div class="heatmap-section flex">
  <div class="heatmap-content w-2/3">

  </div>

  <div class="metrics w/1/3 p-5">
    <div class="text-md font-bold">Screen metrics</div>
    <div class="flex gap-1">
      <div class="box bg-gray-100 rounded-lg p-2 text-center">
        <div class="text-md">1</div>
        <div class="text-xs">Participant</div>
      </div>
      <div class="box bg-gray-100 rounded-lg p-2 text-center">
        <div class="text-md">1.49s</div>
        <div class="text-xs">Avg. duration</div>
      </div>
      <div class="box bg-gray-100 rounded-lg p-2 text-center">
        <div class="text-md">0%</div>
        <div class="text-xs">Misclick rate</div>
      </div>
    </div>

    <div class="text-md font-bold mt-6">Click areas</div>
    <p class="text-sm text-gray-600">View all clicks, misclicks and order by participant.</p>
    <div class="text-center mt-4 text-gray-600 border border-dashed border-gray-300 rounded-lg p-4 h-40 flex flex-col items-center justify-center">
      <mat-icon>home</mat-icon>
      <p class="text-xs">Click and drag on a screen to focus on an area</p>
    </div>
  </div>
</div>
