<div class="header border-b border-gray-200 flex items-center gap-3 px-8 py-4">
  <div class="icon rounded-lg bg-orange-300 text-white flex justify-center items-center h-10 w-10">
    <mat-icon>list</mat-icon>
  </div>
  <h2 class="text-xl font-bold">Multiple Choice</h2>
  <mat-icon matTooltip="A Multiple Choice allows you to create a closed-ended question with multiple answer choices. Ask testers to select a single or multiple choices from a list of options." class="opacity-50">info</mat-icon>
  <button mat-icon-button class="ml-auto" [matMenuTriggerFor]="menu">
    <mat-icon>more_horiz</mat-icon>
  </button>
</div>

<div class="form p-8 flex flex-col gap-6">
  <!-- Title -->
  <div class="input-container">
    <label class="label">Question *</label>
    <input
      required
      type="text"
      class="input"
      placeholder="Type your question here"
      [ngModel]="section.title"
      (ngModelChange)="onTitleChange($event)">
      <div class="input-error">A question is required to create this block.</div>
  </div>

  <!-- Description -->
  <div class="input-container">
    <label class="label">Description</label>
    <textarea
      type="text"
      class="input"
      placeholder="Type extra details here. This is optional."
      [ngModel]="section.description"
      (ngModelChange)="onDescriptionChange($event)"></textarea>
  </div>

  <label class="label">Selection Type</label>
  <mat-radio-group aria-label="Select an option" [(ngModel)]="section.data.allowMultiple" (change)="updateAllowMultiple($event.value)" class="flex gap-4">
    <mat-radio-button [value]="false" class="w-full block border border-gray-200 rounded-xl">Single selection</mat-radio-button>
    <mat-radio-button [value]="true" class="w-full block border border-gray-200 rounded-xl">Multiple selections</mat-radio-button>
  </mat-radio-group>

  <div>
    <label class="label">Choices *</label>

    <div class="input-container flex gap-4 items-center mb-3" *ngFor="let option of section.data.options">
      <input
        type="text"
        class="input"
        placeholder="Enter choice"
        [ngModel]="option.text"
        (ngModelChange)="updateOptionText(option.id, $event)">
        <button class="btn-icon btn-icon-sm" matTooltip="Remove option" (click)="removeOption(option.id)" *ngIf="section.data.options.length > 1"><mat-icon>delete</mat-icon></button>
    </div>
  </div>

  <button mat-stroked-button color="secondary" (click)="addOption()">
    <mat-icon>add</mat-icon> Add new choice
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>Add comment</button>
</mat-menu>
